<header>
  <nav>
    <a routerLink="/" class="logo">
      <img src="/Travel-Planner.png" alt="logoTravelPlanner">
    </a>

    @if(!isAuthenticated()){
      <app-auth-status></app-auth-status>
    }

    @if (isAuthenticated()) {
      <div class="nav-links">
        <a routerLink="/trips" routerLinkActive="active">Viajes</a>
        <a routerLink="/itineraries" routerLinkActive="active">Itinerarios</a>
        <a routerLink="/activities" routerLinkActive="active">Actividades</a>
        <a routerLink="/checklists" routerLinkActive="active">CheckLists</a>
        <a routerLink="/expenses" routerLinkActive="active">Gastos</a>
        @if (isAdmin()) {
          <a routerLink="/companies" routerLinkActive="active">Empresas</a>
        }
      </div>
    

      <div class="dropdown perfil-dropdown">
  <button class="btn btn-light d-flex align-items-center dropdown-toggle border-0" 
          type="button" id="dropdownPerfil" 
          data-bs-toggle="dropdown" aria-expanded="false">
    <img src="/account_circle_24dp_33696F_FILL0_wght400_GRAD0_opsz24.svg" alt="Perfil" class="perfil-img me-2">
    <span>Perfil</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownPerfil">
    <li><a class="dropdown-item" (click)="toProfile()">Mi perfil</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" (click)="toReservations()">Mis Reservaciones</a></li>
    <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item text-danger" (click)="onLogout()">Cerrar sesión</a></li>
  </ul>
</div>
}
</nav>
</header>
