header{
    background-color: var(--header-color);
    padding: 30px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid transparent;
}

header nav a{
    position: relative; 
    display: inline-block;
    color: var(--font-color);
    padding-bottom: 8px; 
    text-decoration: none;
    border-bottom: 1.5px solid transparent; 
    transition: border-color 0.5s ease;
}

header nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px; 
    background-color: var(--font-color);
    transition: width 0.4s ease; 
    border-radius: 4px; 
}

header nav a:hover::after {
    width: 100%; 
}

header nav a:hover {
    color: var(--font-color);
}