<div class="company-list-container">
    <h2>Administración de Compañías</h2>

    @if (store.companies().list.length !== 0) {
    <div class="create">
      <a routerLink="/companies/create" class="btn-primary">+ Agregar Empresa</a>
    </div>
  }

    @if (store.loading()) {
        <p>Cargando listado de compañías...</p>
    } 
    @else if(store.companies().list.length === 0){
        <div class="empty-state">
      <h3>¡No se encontraron Empresas!</h3>

      <div class="no-trips">
        <p>Aún no hay empresas registradas. ¡Agrega una para empezar!</p>
        <a routerLink="/companies/create" class="btn-primary">Agregar Empresa</a>
      </div>
    </div>
    }
    @else {
        <table class="company-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre de Usuario</th>
                    <th>Tax ID</th>
                    <th>Ubicación</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (company of store.companies().list; track company.id) {
                    <tr>
                        <td>{{ company.id }}</td>
                        <td>{{ company.username }}</td>
                        <td>{{ company.taxId }}</td>
                        <td>{{ company.location }}</td>
                        <td>{{ company.active ? 'Activo' : 'Inactivo' }}</td>
                        <td>
                            <button (click)="router.navigate(['/companies', company.id])">Ver/Editar</button>
                            <button (click)="onDelete(company.id)" class="btn-delete">Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <app-pagination 
            [currentPage]="store.companies().pageInfo.currentPage"
            [totalPages]="store.companies().pageInfo.totalPages"
            (pageChange)="onPageChange($event)">
        </app-pagination>
    }
</div>
