<div class="checklist-list-container">
    <div class="title">
    <h2>Mis Checklists</h2>
    </div>
    <div class="create">
        <a routerLink="/checklists/create" class="btn-primary">+ Crear Nueva Checklist</a>
        </div>
    @if (store.loading()) {
        <p class="loading">Cargando checklists...</p>
    } @else {
        @if (store.checklist().list.length === 0) {
            <div class="no-checklists">
                <p>Aún no tienes checklists creadas. ¡Agrega una para organizar tu viaje!</p>
                <a routerLink="/checklists/create" class="btn-primary">Crear Nueva Checklist</a>
            </div>
        } @else {
            <div class="checklist-grid">
                @for (checklist of store.checklist().list; track checklist.id) {
                    <div class="checklist-card">
                        <div class="checklist-header">
                        <h3>{{ checklist.name }}</h3>
                        <span class="trip-ref">{{ getTripName(checklist.tripId) }} </span>
                        </div>
                          <div class="progress">
                            <div class="progress-track">
                            <div class="progress-fill" [style.width.%]="getProgress(checklist)"></div>
                            </div>
                            <span class="progress-text">{{ getProgress(checklist) | number:'1.0-0' }}%</span>
                        </div>

                        <div class="checklist-body">
                        <p>Ítems: {{ checklist.items?.length || 0 }}</p>
                        </div>

                        <div class="checklist-actions">
                        <button class="btn-outline" (click)="router.navigate(['/checklists', checklist.id])">
                            Ver Detalle
                        </button>
                        <button class="btn-outline" (click)="router.navigate(['/checklists', checklist.id, 'edit'])">
                            Editar
                        </button>
                        <button class="btn-danger" (click)="onDelete(checklist.id)">
                            Eliminar
                        </button>
                        </div>
                    </div>
                }
            </div>
        <app-pagination
            [currentPage]="store.checklist().pageInfo.currentPage"
            [totalPages]="store.checklist().pageInfo.totalPages"
            (pageChange)="onPageChange($event)">
        </app-pagination>

        }
    }
</div>