<div class="activity-detail-page">
  @if (store.loading()) {
    <p>Cargando detalles de la actividad...</p>
  } @else if (currentActivityDetail()) {
    @if (errorMessage) {
      <div class="alert-error">{{ errorMessage }}</div>
    }

    @if (currentActivityDetail()!.imageUrl) {
      <img [src]="currentActivityDetail()!.imageUrl" class="detail-img" alt="imagen actividad" />
    }

    <header>
      <h1>{{ currentActivityDetail()!.name }}</h1>
      <span class="category">{{ currentActivityDetail()!.category }}</span>
    </header>

    <section class="info-grid">
      <p><strong>Precio:</strong> {{ currentActivityDetail()!.price | currency }}</p>
      <p><strong>Fecha:</strong> {{ currentActivityDetail()!.date | date }}</p>
      @if (currentActivityDetail()!.startTime && currentActivityDetail()!.endTime) {
        <p>
          <strong>Duración:</strong> {{ currentActivityDetail()!.startTime }} -
          {{ currentActivityDetail()!.endTime }}
        </p>
      }
      @if (currentActivityDetail()!.companyId) {
        <p><strong>Organiza:</strong> {{ currentActivityDetail()!.companyName}}</p>
        <p><strong>Cupos Disponibles:</strong> {{ currentActivityDetail()!.available_quantity }}</p>
      }
    </section>

    <section class="description">
      <h3>Descripción</h3>
      <p>{{ currentActivityDetail()!.description }}</p>
    </section>

    @if (currentActivityDetail()!.companyId) {
      <div class="action-buttons">
        @if (!security.auth().isCompany) {
          <button (click)="onBookActivity()" class="btn-primary">Reservar Ahora</button>
        }
        <button class="btn-company" (click)="toCompanyProfile(currentActivityDetail()!.companyId)">
          Ver perfil de la empresa
        </button>
      </div>
    }

    @if (
      security.auth().companyId! === currentActivityDetail()!.companyId ||
      currentActivityDetail()?.userIds?.includes(security.auth().userId!)
    ) {
      <div class="actions">
        <button class="edit" (click)="toEdit()">Editar</button>
        <button class="delete" (click)="onDelete()">Eliminar</button>
      </div>
    }

    @if (currentActivityDetail()!.companyId) {
      <section class="reviews-wrapper">
        <app-activity-reviews
          [activityId]="currentActivityDetail()!.id"
          [tieneReservaCompletada]="userTieneAcceso"
        >
        </app-activity-reviews>
      </section>
    }
  } @else {
    <div class="alert-error">No se encontró la actividad o no tienes permiso.</div>
  }
</div>