@if(!securityStore.auth().isAuthenticated){
<header class="logo-header">
  <a routerLink="/" class="logo-link">
    <img src="/Travel-Planner.png" alt="Travel Planner Logo" class="logo">
  </a>
</header>
}

<div class="page-wrapper">
  <div class="content-wrapper reverse">

    <div class="form-half">
      <div class="register-container">
        <h2>
          @if (isOwnProfile) { Editar Mi Perfil }
          @else if (isEditing) { Editar Usuario (Admin) }
          @else { Registrarse }
        </h2>

        @if (errorMessage) {
          <div class="alert-error">{{ errorMessage }}</div>
        }

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">Nombre de Usuario:</label>
            <input id="username" type="text" formControlName="username">
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" type="email" formControlName="email">
          </div>

          <div class="form-group">
            <label for="dni">DNI:</label>
            <input id="dni" type="text" formControlName="dni">
          </div>

          <div class="form-group">
            <label for="password">Contraseña:</label>
            <input id="password" type="password" formControlName="password">
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirmar Contraseña:</label>
            <input id="confirmPassword" type="password" formControlName="confirmPassword">
            @if (registerForm.hasError('mismatch')) {
              <div class="validation-error">Las contraseñas no coinciden.</div>
            }
          </div>

          <button type="submit" [disabled]="registerForm.invalid || loading">
            {{ isEditing ? 'Continuar y Actualizar Preferencias' : 'Continuar y Elegir Preferencias' }}
          </button>
        </form>
      </div>
    </div>

    <div class="image-half image-register"></div>
  </div>
</div>
