:host {
    display: block;
    min-height: 100vh;
    padding-top: 100px; 
    background-image: url('/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}  