<div class="form-container">
    <h2>{{ isEditing ? 'Editar Itinerario' : 'Crear Nuevo Itinerario' }}</h2>

    @if (errorMessage) {
        <div class="alert-error">{{ errorMessage }}</div>
    }

    <form [formGroup]="itineraryForm" (ngSubmit)="onSubmit()">
        
            <div class="form-group">
            <label for="tripId">Seleccioná el viaje asociado:</label>
            <select id="tripId" formControlName="tripId">
                <option value="">-- Elegí un viaje --</option>
                @for (trip of userTrips().list; track trip.id) {
                <option [value]="trip.id">{{ trip.name }} - {{ trip.destination }} - {{trip.startDate}} / {{trip.endDate}}</option>
                }
            </select>

            @if (itineraryForm.get('tripId')?.invalid && itineraryForm.get('tripId')?.touched) {
                <div class="validation-error">Debes seleccionar un viaje.</div>
            }
            </div>
    

        <div class="form-group">
            <label for="itineraryDate">Fecha:</label>
            <input id="itineraryDate" type="date" formControlName="itineraryDate">
            @if (itineraryForm.get('itineraryDate')?.invalid && itineraryForm.get('itineraryDate')?.touched) {
                <div class="validation-error">La fecha es obligatoria.</div>
            }
        </div>

        <div class="form-group">
            <label for="notes">Notas / Descripción:</label>
            <textarea id="notes" formControlName="notes"></textarea>
        </div>

        <button type="submit" [disabled]="itineraryForm.invalid || loading">
            @if (loading) {
                Guardando...
            } @else {
                {{ isEditing ? 'Actualizar' : 'Crear Itinerario' }}
            }
        </button>
    </form>
</div>